beautifulsoup4==4.6.0
Flask==0.12.2
gunicorn==19.7.1
h5py==2.7.0
imagesize==0.7.1
ipython==6.1.0
Jinja2==2.9.6
Keras==2.1.4
opencv-python==3.4.0.12
numpy==1.14.0
Pillow==5.0.0
requirements==0.1
SQLAlchemy==1.1.13
sympy==1.1.1
tensorflow==1.5.0
unicodecsv==0.14.1
urllib3==1.22
webencodings==0.5.1
Werkzeug==0.12.2

